<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">By due date</li>
  <li><a href="<%= url_for :action => 'issues_list', :list_mode => 'overdue' %>">
    <h1>Overdue<span class="ui-li-count"><%=h @overdue_issues.count %></span></h1>
  </a></li>
  <li><a href="">
      <h1>Due today<span class="ui-li-count"><%=h @due_today_issues.count %></span></h1>
  </a></li>
  <li><a href="">
      <h1>Due in 7 days<span class="ui-li-count"></span></h1>
  </a></li>
  <li data-role="list-divider">By status</li>
  <li><a href="">
    <h1>Doing<span class="ui-li-count"></span></h1>
  </a></li>
  <li><a href="">
    <h1>New<span class="ui-li-count"></span></h1>
  </a></li>
</ul>
