<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">期日別</li>
  <li><a href="">
      <h1>期限超過<span class="ui-li-count"></span></h1>
  </a></li>
  <li><a href="">
      <h1>今日が期限<span class="ui-li-count"></span></h1>
  </a></li>
  <li><a href="">
      <h1>7日以内に期限到来<span class="ui-li-count"></span></h1>
  </a></li>
  <li data-role="list-divider">ステータス別</li>
  <li><a href="">
    <h1>作業中<span class="ui-li-count"></span></h1>
  </a></li>
  <li><a href="">
    <h1>新規<span class="ui-li-count"></span></h1>
  </a></li>
</ul>

<ul data-role="listview" data-inset="true">
  <li><a href="">プロジェクト選択</a></li>
</ul>
